/* line 10, ../sass/styles.scss */
input[type=checkbox] {
  display: none;
}

/* line 14, ../sass/styles.scss */
.grid {
  font-size: 1.25em;
}

/* line 18, ../sass/styles.scss */
.grid-distance,
.grid-checkbox,
.grid-score {
  float: left;
  padding: 1%;
}

/* line 25, ../sass/styles.scss */
.grid-distance {
  clear: left;
  width: 8%;
}

/* line 30, ../sass/styles.scss */
.grid-checkbox {
  width: 11%;
}

/* line 34, ../sass/styles.scss */
.grid-score {
  clear: right;
  text-align: right;
  width: 10%;
}

/* line 40, ../sass/styles.scss */
label .fa {
  font-size: 2.5rem;
}
